doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    a(href="/index") index PAGE
    a(href="/form") FORM PAGE
    a(href="/about") about PAGE
