extends layout

block content
    h2= title
    form(action="/form", method="post")
        label Select Number 
        select(name="numbers")
            option(value='0', disabled selected=true) Please Select a number
            each val in [3,4,5,10,20]
                option= val
        input(type="submit")
    +creatGrid(selectedVal)

    if errors 
      ul
        for error in errors
          li!= error.msg