mixin 404(num404)
    -var classes = ['rotate', 'still', 'shrink']
    -var num = ((30-0)*Math.random()+20);
    -for(var x = 0; x < num404; x++)
        -var 404Class = classes[Math.floor(Math.random() * classArray.lenth)];
        div( class=404Class ) 404

mixin colorCode(numColor)
    table.gridPadding.table-bordered
        tbody
          - for (var r =0; r < numColor; r++)
            tr
                - for (var c =0; c < numColor; c++)
                    -var color = '#' + ((1<<24)*Math.random()|0).toString(16);
                    td(style={background: color}) #{color}
                        br
                        span(style="color:#ffffff;") #{color}

