extends layout

block content
  h1= title
  p Welcome to #{title}
  img.className#IdName(src="/images/Scruffy.jpg" alt="Scruffy")
  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eleifend pellentesque orci dignissim venenatis. Proin nisi nisl, sodales id posuere et, cursus ac orci. In feugiat interdum augue, quis posuere mauris tempus in. Donec vel elementum mi. Sed finibus, ipsum et venenatis lobortis, urna lacus scelerisque lacus, sed consectetur neque sem nec turpis. Vivamus luctus neque quis metus scelerisque pharetra. Curabitur rutrum leo nec metus eleifend porttitor. Fusce ultrices hendrerit neque, quis volutpat nulla varius id. Suspendisse nunc justo, commodo sed nisi sed, commodo pretium augue. Aliquam erat volutpat. Aliquam dui nunc, laoreet ac feugiat in, vestibulum eget nunc. Fusce condimentum, lectus ac semper auctor, elit est facilisis risus, quis iaculis libero eros non orci. In rutrum eleifend malesuada. Vestibulum varius orci a tristique ultrices. Nam semper sollicitudin cursus. 
  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vel ante nisi. In libero diam, accumsan sit amet nulla gravida, posuere porttitor erat. Sed pharetra augue sed mi mattis, ac elementum odio commodo. Nam sagittis vestibulum egestas. Morbi nisi metus, pellentesque et purus vitae, fringilla varius neque. Nam volutpat diam a leo commodo commodo. Nam sit amet neque sit amet nulla efficitur sodales. Sed ut augue ac justo vehicula ornare ut sit amet nibh. Fusce egestas elit vel leo cursus finibus. Praesent quis sodales justo, sed blandit ex. 
  br
  a(href="/") index PAGE
  br
  a(href="/form") FORM PAGE
  br
  a(href="/about") about PAGE
