extends layout

block content
  h1= title
  p Welcome to #{title}
  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eleifend pellentesque orci dignissim venenatis. Proin nisi nisl, sodales id posuere et, cursus ac orci. In feugiat interdum augue, quis posuere mauris tempus in. Donec vel elementum mi. Sed finibus, ipsum et venenatis lobortis, urna lacus scelerisque lacus, sed consectetur neque sem nec turpis. Vivamus luctus neque quis metus scelerisque pharetra. Curabitur rutrum leo nec metus eleifend porttitor. Fusce ultrices hendrerit neque, quis volutpat nulla varius id. Suspendisse nunc justo, commodo sed nisi sed, commodo pretium augue. Aliquam erat volutpat. Aliquam dui nunc, laoreet ac feugiat in, vestibulum eget nunc. Fusce condimentum, lectus ac semper auctor, elit est facilisis risus, quis iaculis libero eros non orci. In rutrum eleifend malesuada. Vestibulum varius orci a tristique ultrices. Nam semper sollicitudin cursus. 
  br
  a(href="/") index PAGE
  br
  a(href="/form") FORM PAGE
  br
  a(href="/about") about PAGE
